/* 베이직 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: 'Jua', sans-serif;
}

.clearfix::after, .clearfix::before {
  content: '';
  display: block;
  clear: both;
}

/* 레이아웃 */
#wrap {
  width: 100%;
  /* background: url(../images/번개.gif) no-repeat; */
  background-color: rgb(203, 236, 255);
  background-position: center;
  background-size: cover;
  height: 1500px;

}

#header {
  width: 100%;
  height: 100px;
  /* background-color: rgb(181, 207, 240); */
  border-bottom: 1px solid rgba(245, 245, 245, 0.221);
  margin-bottom: 100px;
}

#main {
  width: 100%;
  height: 1000px;
  display: flex;
}

#footer {
  margin-top: 200px;
  width: 100%;
  height: 300px;
  background-color: rgb(45, 45, 45);
  border-top: 1px solid rgba(245, 245, 245, 0.221);
}

/* 헤더 */
#logo {
  display: inline-block;
  float: left;
}

h1 {
  text-align: initial;
  margin-left: 30px;
  font-size: 40px;
  padding-top: 20px;;
  font-weight: 300;
}

h1 .red {
  color: red;
}

h1 .yel {
  color: yellow;
}

h1 .green {
  color: rgb(119, 191, 117);
}

/* 메인 */

#card1 {
  margin: 0 auto;
  width: 35%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  margin-right: 120px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

#card1-f .return {
  width: 5%;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

#card1-b .return {
  width: 5%;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

#card2-f .return {
width: 5%;
position: absolute;
bottom: 10px;
right: 20px;
}

#card2-b .return {
width: 5%;
position: absolute;
bottom: 10px;
right: 20px;
}



#card2 {
  margin: 0 auto;
  width: 35%;
  height: 100%;
  background-color: rgba(84, 0, 0, 0);
  border-radius: 30px;
  margin-left: 120px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;

}

#card2 h2 {
  font-weight: 200;
  font-size: 60px;
  margin-top: 20px;
}

#card2 img {
  display: block;
  margin-top: 50px;
  width: 100%;

}




.card2_front,
.card1_back,
.card2_back,
.card1_front{
width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border: 3px solid rgba(85, 85, 85, 0.297);
  border-radius: 30px;
}



.card1_back,
.card2_back {
  transform: rotateY(180deg);
}